example_node_red_flow.json
[
    {
        "id": "9576a0d4.4f37b",
        "type": "inject",
        "z": "2e948d2d.6eacca",
        "name": "",
        "topic": "",
        "payload": "{\"entity_id\":\"sensor.nintendo_wishlist_monster_boy_and_the_cursed_kingdom\",\"old_state\":{\"entity_id\":\"sensor.nintendo_wishlist_monster_boy_and_the_cursed_kingdom\",\"state\":\"0\",\"attributes\":{\"on_sale\":[],\"unit_of_measurement\":\"on sale\",\"friendly_name\":\"Monster Boy and the Cursed Kingdom\",\"icon\":\"mdi:nintendo-switch\"},\"last_changed\":\"2019-08-18T17:54:11.703879+00:00\",\"last_updated\":\"2019-08-18T17:54:11.703879+00:00\",\"context\":{\"id\":\"b4cd91ecaa6748db95b29714607018c0\",\"parent_id\":null,\"user_id\":null}},\"new_state\":{\"entity_id\":\"sensor.nintendo_wishlist_monster_boy_and_the_cursed_kingdom\",\"state\":\"1\",\"attributes\":{\"on_sale\":[{\"box_art_url\":\"https://www.nintendo.com/content/dam/noa/en_US/games/switch/s/steamworld-quest-hand-of-gilgamech-switch/Switch_SteamWorldQuest_box_eShop.png\",\"normal_price\":\"$24.99\",\"percent_off\":20,\"sale_price\":\"$19.99\",\"title\":\"SteamWorld Quest: Hand of Gilgamech\"}],\"unit_of_measurement\":\"on sale\",\"friendly_name\":\"Monster Boy and the Cursed Kingdom\",\"icon\":\"mdi:nintendo-switch\"},\"last_changed\":\"2019-08-18T17:54:11.703879+00:00\",\"last_updated\":\"2019-08-18T17:54:11.703879+00:00\",\"context\":{\"id\":\"b4cd91ecaa6748db95b29714607018c0\",\"parent_id\":null,\"user_id\":null}}}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 70,
        "y": 120,
        "wires": [
            [
                "beaec501.8dd3a8"
            ]
        ]
    },
    {
        "id": "beaec501.8dd3a8",
        "type": "trigger-state",
        "z": "2e948d2d.6eacca",
        "name": "Nintendo Wish List State Change",
        "server": "b454cc2c.3067b",
        "entityid": "sensor.nintendo_wishlist_",
        "entityidfiltertype": "substring",
        "debugenabled": false,
        "constraints": [
            {
                "id": "8xo413szp3x",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": ">=",
                "comparatorValueDatatype": "str",
                "comparatorValue": "1"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": true,
        "state_type": "str",
        "x": 280,
        "y": 120,
        "wires": [
            [
                "794c2c28.cbf49c"
            ],
            []
        ]
    },
    {
        "id": "794c2c28.cbf49c",
        "type": "function",
        "z": "2e948d2d.6eacca",
        "name": "Extract New State Attributes",
        "func": "msg.payload = msg.data.event.new_state.attributes.on_sale[0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 560,
        "y": 120,
        "wires": [
            [
                "29ad1fc0.cd7aa8"
            ]
        ]
    },
    {
        "id": "29ad1fc0.cd7aa8",
        "type": "api-call-service",
        "z": "2e948d2d.6eacca",
        "name": "Kodi Notify",
        "server": "b454cc2c.3067b",
        "service_domain": "notify",
        "service": "living_room_kodi",
        "data": "{\"message\":\"foo {{payload.percent_off}}\",\"title\":\"{{payload.title}} on sale!\",\"data\":{\"displaytime\":10000}}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "x": 790,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "b454cc2c.3067b",
        "type": "server",
        "z": "",
        "name": "Home Assistant",
        "legacy": false,
        "hassio": false,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true
    }
]
